<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>#{get 'title'.raw() /}</title>

		<meta name="description" content="" />
		<meta name="author" content="Julien Lafont (Studio-Dev.fr)" />

		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

		<!-- Mobile Stuff -->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1">

		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
		<link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
		<link rel="shortcut icon" href="img/l/apple-touch-icon.png">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="cleartype" content="on">

		<!-- Jquery Mobile -->
		<link rel="stylesheet" href='${play.configuration.getProperty("jqm.css")}' />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		#{script src:'jqm-init.js' /}
		<script type="text/javascript" src='${play.configuration.getProperty("jqm.js")}'></script>

		<!-- Plugins -->
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.toastmessage.css'}">
		#{script src:'flashtasty.js' /}
		#{script src:'buzz.js' /}
		#{script src:'jquery.toastmessage.js' /}

		<!--  Applicatif -->
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		#{get 'moreStyles' /}
		#{get 'moreScripts' /}

	</head>
	<body id="body">
		#{doLayout /}
	</body>
</html>
