	/* tag cloud */
	
.tag_cadre { 
	width:80%;
	text-align:center;
	-moz-border-radius:10px
}
.tag_cadre:hover {
	background-color:#131313
}
.tag_cadre:hover a {
	color:#FFF;
}

	.tag_cadre a { 
		padding: 3px; 
		text-decoration: none; 
		line-height: 24px;
		width:80%
	}
	
	.tag_cadre a:link  { 
		color:#CCC; 
	 }
	
	.tag_cadre a:hover { 
		color:#FF9900 !important
	}
	
	.tag_cadre a:active { 
		color: #ffffff !important; 
		background: #FF9900;
		outline:0
	}