@import '../general.css';

/*   General
---------------- */
*, body { margin:0; padding:0 }
body { background-color:#F7F7F7; text-align:center}
.centre { text-align:center } .clear { clear:both } .noborder { border:0 } .nomargin { margin:0; padding:0 } .hide { display:none }
a img { border:0 } fieldset { border:0; margin:0; padding:0 }

/*   Textes
---------------- */
body, td, div, p, form { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#4F4F4F }
#centre a, #footer a { color:#000; text-decoration:none;  }
#centre a:hover, #footer a:hover { color:#09F; }

/*   Structure
---------------- */
#page { width:990px; margin:0 auto; text-align:left; }
#menu_top { width:100%; height:60px; background-image:url(images/fond_top.png); background-repeat:no-repeat}
	#menu_top  ul.links { padding:31px 0 0 135px; margin:0 }
	#menu_top  ul.links li { padding:0; margin:0; float:left; height:22px; list-style-type:none}
	#connexion { width:194px; height:57px; position:relative; top:-53px; left:756px; background-image:url(images/fond_connexion.png); background-repeat:no-repeat }
		#connexion .log { width:115px; height:14px; font-family:verdana; font-size:9px; padding-left:3px; color:#EEE; position:absolute; background-image:url(images/input.png); background-repeat:no-repeat; border:0 }
		#connexion #log_login{ top:5px; left:12px }
		#connexion #log_pass	{ top:22px; left:12px }
		#connexion .send { background:transparent none repeat scroll 0%; width:42px; height:15px; position:absolute; top:22px; left:135px }
		#connexion span { position:absolute; top:37px; left:20px }
		#connexion span a { text-decoration:none; font-size:9px; color:#FFF;  }
		#connexion span a:hover { color:#0099FF } 
		#connexion p { padding-top:5px; color:#DDD; text-align:center }
		#connexion p img { vertical-align:middle }
		#connexion p a { color:#FFFFFF !important; text-decoration:none !important }
		#connexion p a:hover { color:#CCCCCC !important }
		
	#status_log { float:left; width:640px; height:30px; margin-top:-24px; margin-left:-600px; text-align:right;  }

#header { width:100%; height:225px; background-image:url(images/header.jpg) }
	h1 { position:relative; width:1px; height:1px; color:#333333; overflow:hidden; left:20px; top:20px}
	
#corps { width:100%; height:100%;  background-image:url(images/fond_corps.png); background-repeat:repeat-y }
#gauche { float:left; width:213px; }
	#gauche .in { margin-left:13px }
	#gauche .in ul { margin:0; padding:0; border-top:1px solid #ECECEC; margin-bottom:10px; width:198px; }
	#gauche .in ul li { background-image:url(images/li_fond_nopuce.png);  background-repeat:no-repeat; height:17px; padding-left:7px; line-height:17px; font-size:10px; border-bottom:1px solid #ECECEC; list-style-type:none; color:#888; width:191px }
	#gauche .in ul.puce li { background-image:url(images/li_fond.png); padding-left:17px; width:181px}
	.in ul li.titre { text-align:center; color:#0d52e4 !important; font-weight:bold; font-size:12px;  }
	.in ul li a:link, .in ul li a:visited, .in p a:link, .in p a:visited { text-decoration:none; color:#888}
	.in ul li a:hover, .in p a:hover { color:#0099FF }
	.in ul li img {  vertical-align:middle }
	#gauche .in p { color:#666; text-align:center; margin-top:5px; margin-right:3px; margin-bottom:10px }
#droite { float:right; width:213px; }
	#droite .in { margin-left:2px}
	#droite .in ul { margin:0; padding:0; border-top:1px solid #ECECEC; margin-bottom:10px; width:198px; }
	#droite .in ul li { background-image:url(images/li_fondD_nopuce.png);  background-repeat:no-repeat; height:17px; padding-left:7px; line-height:17px; font-size:10px; border-bottom:1px solid #ECECEC; list-style-type:none; color:#888; width:191px }
	#droite .in ul.big li { background-image:url(images/li_fondD_nopuce_big.png);  height:25px;  line-height:25px; }
	#droite .in ul.puce li { background-image:url(images/li_fondD.png); padding-left:17px}
	#droite .in p { color:#666; margin-top:5px; margin-right:16px; margin-left:5px; margin-bottom:10px }
	
#centre { float:left; width:564px; }
	.content { width:100%; margin:5px 0 5px 0 }
	.content h2 { margin:0 0 3px 0; padding:0; width:534px; height:25px; background-image:url(images/titre.png); background-repeat:no-repeat; padding-left:30px; line-height:25px; color:#7E7E7E; font-size:12px; font-weight:normal }
	.content h2.barre { padding-bottom:1px; border-bottom:1px solid #ccc; }
	.content h2 a { color:#666666 !important }
	.content h2 a:hover { color:#3399FF !important}
	.content h2.demi { margin:0 0 3px 0; padding:0; width:275px; height:25px; background-image:url(images/titre_demi.png); background-repeat:no-repeat;  line-height:25px; color:#000000; font-size:12px; font-weight:bold; text-align:center; padding-bottom:1px; border-bottom:1px solid #00A8FF }
	.content h3 { margin:0 0 5px 4px; padding:0; width:564px; height:20px; background-image:url(images/sous_titre.png); background-repeat:no-repeat; padding-left:5px; line-height:20px; color:#2B2B2B; font-size:10px; font-weight:normal }
	.content p.in { padding:3px 6px 3px 6px; margin-right:15px; background-image:url(images/contenu_fond.png); background-position:right bottom;; background-repeat:no-repeat; font-size:12px; line-height:15px}
	.content div.in { text-align:right; padding-right:17px; padding-top:7px }
	.content div.in h4 { font-weight:normal; font-size:11px }
	.content div.in a { color:#06F !important; text-decoration:none }
	.content div.in a:hover { color:#09F !important }
	.content a { color:#000000 !important;  }
	.content a:hover { color:#FF9900 !important;  }
	img > a { border:0 !important; background-color:#FF0000}
		
	#blocs_centre { height:146px; width:565px; position:relative; height:185px}
	#blocs_centre .gauche { position:absolute; top:32px; left:9px; width:278px; height:147px; background-image:url(images/fond_bloc_centre.png); background-repeat:no-repeat}
	#blocs_centre .droite { position:absolute; top:32px; left:280px; width:278px; height:147px; background-image:url(images/fond_bloc_centre.png); background-repeat:no-repeat }
	#blocs_centre ul { padding:0; margin:14px 0 0 28px; }
	#blocs_centre ul li {width:215px; height:22px; background-color:#FFF; line-height:22px; list-style-type:none; color:#525252; font-size:10px; padding-left:4px } /* bug BOITE ? */
	#blocs_centre ul li.alt { background-color:#EEE }
	#blocs_centre ul li:hover { background-color:#D9EBFF; }
	#blocs_centre ul li a { color:#525252; text-decoration:none }
	#blocs_centre ul li a:hover { color:#444 }
	#blocs_centre ul li img { vertical-align:middle }
	
#footer { width:990px; height:95px; background-image:url(images/footer.png); background-repeat:no-repeat;clear:both }
#footer p { padding-top:70px; text-align:center }
#footer p span {font-size:10px; color:#666666 }


/*   Adaptations des modules
-------------------------------- */
span.right {
	float:right; margin-top:-18px;
	font-family:verdana;
	font-size:9px;
	color:#474747;
	font-weight:normal;
	margin-right:1px
}
span.right2 {
	float:right; margin-top:-15px;
	font-family:verdana;
	font-size:10px;
	color:#000;
}
span.rightNormal {
	float:right; margin-top:-15px;
	font-family:verdana;
	font-size:10px;
	color:#000;
}

#posterCom a:hover		{ color:#FFF; background-color:#3399FF  }
/*#retour { display:none }*/

.cov_col1 { float:left; margin:0 0 0 10px; width:270px ; }
.cov_col2 { float:right; width:250px; }
.cov_col1_in { margin-left:10px; width:270px} 
ul#liste_perso li {width:180px }

.award_col2 { margin:10px 50px 0 0; width:130px; }

.match_vs {color:#00A8FF }

.war_col2 { float:none; width:400px; margin:25px 0 0 25px; }
.war_col1 { margin:25px 0 0 25px ; float:none; width:300px }

#team .cadreLien { width:auto; height:auto; background:none; margin:0; padding:0; }
#team .cadreLien h2 { font-weight:bold; width:500px; margin-left:20px; cursor:pointer}
.listePlayer { margin-left:30px }
.onePlayer h3 { width:200px ;}


#forum_liste_cat li a { color:#333 }
#forum_liste_cat li a:hover { color:#0099FF !important}
#chemin h2 a { color:#333; font-size:11px;  }
#chemin h2 {width:500px }

h3.barre {
	width:500px;
	padding-top:3px;
	padding-left:5px;
	font-size:12px;
	margin:10px 0 5px 0;
	font-weight:normal;
	color:#333;
	border-bottom:1px solid #ccc
}
h3.barre span, h3.barre b { color:#333 }
h3.barre a {
	font-family:Helvetica, sans-serif;
}

#fond_astuces_inscription { margin-left:0px }

.menu ul ul a, .menu ul ul a:visited { border-width:0 1px 0 1px; }
 .menu ul ul :hover > a {
background-image:url(../../images/fond_menu_hover.png);
}
.menu ul ul { top:15px; }

.teamperso_li { width:480px  !important}

#amis { margin-left:120px }
#cpanel { margin-left:50px }

.lien_moncompte {  }


/* 	
	[--------------------------------] 
	[:::: ::::[ Messagerie ]:::: ::::]
	[--------------------------------]
*/

.menuinbox a			{ background-color:#FFF; border:1px solid #ccc; color:#666; padding:4px; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif}
.menuinbox a:hover		{ border:1px solid #aaa; color:#FF9900; }
.menuinbox a:blur,
	.menuinbox a:active,
	.menuinbox a:focus	{ outline:0 }

.liste_mess td 			{ border-bottom:1px solid #eee; padding:2px 0 2px 2px; text-align:center }
.liste_mess td.top 		{ border-bottom:1px solid #ccc; color:#444; font-weight:bold; font-size:12px; padding-bottom:3px }

.imgAvatar2				{ margin:3px 5px 5px 4px; border:1px solid #AAA; padding:2px }
.imgAvatar2:hover		{ border:1px solid #FFCC66 }

#messagerie				{ font-size:12px }
#messagerie a			{ color:#555;}
#messagerie a:hover		{ color:#FFA037}
#messagerieHeader a img { border:0 }
#messagerie a img		{ border:0 }
.message				{ font-size:12px }

#first a:link, #first a:visited  	{ color:#333333; font-weight:bold; }
#first a:link:first-letter , #first a:visited:first-letter  { color:#FF9900;font-weight:bold}
#first:first-letter 	 			{ color:#FF9900;font-weight:bold }
#first a:hover  					{ color:#999999; }

#write					{ margin-left:50px;padding:5px; border:1px solid #ccc; background-color:#FCFCFC; width:60%}
#write td				{ height:20px;}
#write input			{ color:#0099FF;width:150px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;background-color:#FFF;border-color:#777 #DDD #EEE #777;border-style:solid;border-width:1px;padding:2px 1px 2px 2px;}
#write input:focus		{ border:1px solid #00A8FF; }
#write textarea			{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#09F; border:1px solid #4395D8; padding:3px; border-color:#777 #DDD #EEE #777;}
#write textarea:focus	{ border:1px solid #00A8FF }
#write .submit 			{ padding: 1px 3px;color:#fff;font-weight:bold; }

#posterNews a { color:#FFF;  }
#posterNews a:hover	{ color:#FFF }

.bloc_admin_news { position:static; float:right; margin-right:5px}

	
.profil_top .aa { width:120px }

#ulListe li { 
	width:245px !important;
}

.little .jcarousel-item  { width:82px !important }
.fichier_detail { width:540px; }
.menu li strong { font-size:11px; font-family:arial; color:#666 }

.titreMessagerie	{  margin:0 auto 20px auto; width:80%}

#posterNews a			{ padding:5px 25px 5px 25px; background-color:#5FCAFF; color:#FFF !important; font-weight:bold;   }
#posterNews a:hover		{ color:#FFF !important; background-color:#0099FF }

#liste_cat_forum li {
	margin-left:57px;
}
#maj_forum { margin-left:150px }
#forum_liste_cat li { width:220px }
#chemin h2 {
	font-weight:normal;
	font-size:14px
}