Options +FollowSymLinks
RewriteEngine On


RewriteRule ^valider-compte\/([-_a-zA-Z0-9]+)(\/)*$  index.php?inscription&action=valid&key=$1 [L,NC]
RewriteRule ^nouveau-pass\/([-_a-zA-Z0-9]+)(\/)*$ index.php?mot-passe-perdu&action=newPass&key=$1 [L,NC]
RewriteRule ^nouveau-pass2(\/)*$ index.php?mot-passe-perdu&action=passPerdu2 [L,NC]

RewriteRule ^profil\/([-_a-zA-Z0-9]+)(\/)*$ index.php?profil&pseudo=$1 [L,NC]
RewriteRule ^guestbook\/([-_a-zA-Z0-9]+)(\/)*$ index.php?my-guestbook&pseudo=$1 [L,NC]

RewriteRule ^actualite-d4(\/)*$ index.php?news [L,NC]
RewriteRule ^actualite-d4\/archives(\/)*$ index.php?news_archives [L,NC]
RewriteRule ^actualite-d4\/([0-9]+)\/([-_a-zA-Z0-9]+)*(\/)*$ index.php?news&idNews=$1 [L,NC,QSA]
RewriteRule ^breves\/([0-9]+)\/([-_a-zA-Z0-9]+)*(\/)*$ index.php?breves&idBreve=$1 [L,NC,QSA]

RewriteRule ^galerie-d4\/([0-9]+)\/([-_a-zA-Z0-9]+)*(\/)*$ index.php?galerie-d4&idCat=$1 [L,NC]


RewriteRule ^_([0-9]+)\/([-_a-zA-Z0-9]+)*(\/)*$ index.php?pages&idPage=$1 [L,NC]

# Pages admin #
RewriteRule ^admin\/([-_a-zA-Z0-9]+)(\/)*$ index.php?admin-$1 [L,NC]
RewriteRule ^admin\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)(\/)*$ index.php?admin-$1&action=$2 [L,NC]
RewriteRule ^admin\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)(\/)*$ index.php?admin-$1&action=$2&id=$3 [L,NC]

# Pages membre #
RewriteRule ^membre\/guestbook\/([-_a-zA-Z0-9]+)(\/)*$ index.php?my-guestbook&pseudo=$1 [L,NC,QSA]

RewriteRule ^membre\/([-_a-zA-Z0-9]+)(\/)*$ index.php?my-$1 [L,NC]
RewriteRule ^membre\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)(\/)*$ index.php?my-$1&action=$2 [L,NC]
RewriteRule ^membre\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)(\/)*$ index.php?my-$1&action=$2&id=$3 [L,NC]

# Général #

RewriteCond %{REQUEST_URI} !^/d4/-stats/
RewriteRule ^([-_a-zA-Z0-9]+)(\/)*$  index.php?$1 [L,NC]
RewriteCond %{REQUEST_URI} !^/d4/-stats/
RewriteRule ^([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)(\/)*$ index.php?$1&arg1=$2 [L,NC]
RewriteCond %{REQUEST_URI} !^/d4/-stats/
RewriteRule ^([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)\/([-_a-zA-Z0-9]+)(\/)*$ index.php?$1&arg1=$2&arg2=$3 [L,NC]